<fieldset class="list-resource">
    <legend>Technologieën <a on-click='add' href="#technologyModal" class="add-resource hidden" title="nieuwe toevoegen" data-toggle="modal"><i class="icon-plus-sign"></i></a></legend>
    <div>
        {{#technologies:index}}
        <div class="link-resource">
            <a href="#" class="reviewcount" title="{{reviews}} ervaringen"><span class="badge badge-success">{{reviews}}</span></a>
            <a on-click="filter" data-index="{{index}}" href="#" data-original-title="{{#languages}}{{#isLanguage(id,languageId)}}{{name}}{{/isLanguage(id,languageId)}}{{/languages}} ({{license}}) {{ description }}" data-toggle="tooltip" title="">{{name}} </a>
            <a href="{{link}}" class="edit-resource hidden" target="_blank" title="{{link}}"><i class="icon-share"></i></a>
            <a on-click='review' href="#reviewModal" class="edit-resource hidden" data-toggle="modal" title="ervaring" data-index="{{index}}"><i class="icon-check"></i></a>
            <a on-click='edit' href="#technologyModal" class="edit-resource hidden" title="aanpassen" data-toggle="modal" data-index="{{index}}"><i class="icon-edit"></i></a>
        </div>
        {{/technologies}}
    </div>
    <div id="technologyPager"></div>
    <div id="technologyModal" class="modal hide fade"></div>
</fieldset>
