<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Applicatie toevoegen</h3>
</div>
<form name='tool-form' class='form-horizontal' proxy-submit='post'>
    <div class="modal-body">
        <div id="toolErrorModal"></div>        
        <div class="control-group">
            <label class="control-label" for="inputToolName">Naam</label>
            <input type='text' name="inputToolName" value='{{name}}' placeholder='Naam' required>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputToolOwner">Bedrijf</label>
            <input type='text' name="inputToolOwner" value='{{owner}}' placeholder='Bedrijf' required>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputToolTags">Tags</label>
            <select id="inputToolTags" name="inputToolTags" value='{{tags}}' multiple>
                {{#taglist}}
                <option value='{{.id}}'>{{.name}}</option>
                {{/taglist}}
            </select>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputToolLink">Link</label>
            <input type="url" name="inputToolLink" value='{{link}}' placeholder='Website' required>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputToolLicense">Licentie</label>
            <input type='text' name="inputToolLicense" value='{{license}}' placeholder='Licentie' required>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputToolDescription">Omschrijving</label>
            <textarea name="inputToolDescription" rows="5" value='{{description}}' placeholder='Omschrijving' required></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Sluiten</a>
        <input type='submit' class="btn btn-primary" value='Opslaan' />
    </div>
</form>

