<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Clio" providerName="System.Data.SqlClient" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Clio;Persist Security Info=True;User ID=Clio;Password=clio;" ></add>
  </connectionStrings>
</configuration>